.foto-destaque {
  width: 100%;
  height: 300px;
  background-color: #f4f4f4;
  overflow: hidden;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.titulo-pet {
  color: var(--ion-color-secondary);
  font-weight: bold;
  font-size: 2rem;
  margin-top: 10px;
}

.descricao {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.5;
  margin-top: 20px;
}

.card-contato {
  margin: 30px 0;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}