<ion-header [translucent]="true">
  <ion-toolbar color="primary"> <ion-title>
      Pets para Adoção 🐾
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        Sair
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-top">

  <ion-card *ngFor="let pet of pets">
    
    <div class="foto-container">
      <img [src]="ajustarImagem(pet.foto)" alt="{{ pet.nome }}" *ngIf="pet.foto" />
      <div class="sem-foto" *ngIf="!pet.foto">
        <ion-icon name="paw-outline" size="large"></ion-icon>
        <p>Sem Foto</p>
      </div>
    </div>

    <ion-card-header>
      <ion-card-subtitle>{{ pet.especie }} • {{ pet.porte }}</ion-card-subtitle>
      <ion-card-title>{{ pet.nome }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ pet.descricao }}
      
      <ion-button expand="full" fill="outline" class="ion-margin-top" color="tertiary">
        Ver Detalhes
      </ion-button>
    </ion-card-content>
  </ion-card>

  <div *ngIf="pets.length === 0" class="ion-text-center ion-padding ion-margin-top">
    <ion-text color="medium">
      <p>Nenhum pet encontrado... 😢</p>
      <small>Verifique se o Django está rodando!</small>
    </ion-text>
  </div>

</ion-content>