.foto-container {
  height: 200px;
  width: 100%;
  overflow: hidden;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.sem-foto {
  color: #999;
  text-align: center;
}

ion-card {
  margin-bottom: 20px;
  border-radius: 12px;
}